{% extends 'core/base.html' %}

{% block base_title %}
    Vue Ajax Test
{% endblock %}

{% block base_content %}
    <div class="row">
        <div class="col-12" v-for="result in results">
          <div class="card">
            <div class="card-divider">
              { result.type }
            </div>
            <div class="card-section">
              <p>
                  { result.message }
              </p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block js_script %}
<script>
    const vm = new Vue({
      el: '#app',
      data: {
        results: []
      },
      mounted() {
        axios.get("http://127.0.0.1:8000/api/message/")
        .then(response => {this.results = response.data})
      }
    });
</script>
{% endblock %}