{% extends 'ui/ui.html' %}

{% load static %}

{% block ui_content %}
    <div class="row p-0 m-0 ui-header">
        <div class="col-12 bg-danger p-1">
            HEADER
            {% include 'core/element/element_button.html' with button_url='logout' button_text='Logout' button_float='float-right' button_class='btn-warning' %}
            {% include 'core/element/element_button.html' with button_url='admin:index' button_text='Admin' button_target='_BLANK' button_float='float-right' button_class='btn-primary' %}
        </div>
    </div>
    <div class="row p-0 m-0 ui-main">
        <div class="col-sm-3 h-100 bg-primary p-1">
                {% include 'ui/ui_chat_message_input_card.html' with card_class='mb-1 p-0 ui-message-input'%}
                {% include 'ui/ui_chat_message_display_card.html' with card_class='m-0 p-0 ui-message-display overflow-auto' %}
        </div>
        <div class="col-sm-6 h-100 bg-success p-1">
            Game
        </div>
        <div class="col-sm-3 h-100 bg-warning p-1">
            Character
        </div>
    </div>
{% endblock %}

{% block js_include %}
    <script src="{% static 'js/ui.js' %}"></script>
{% endblock %}